@tailwind base;
@tailwind components;
@tailwind utilities;


/* Media query for screens smaller than 768px */
.container{
  margin:5rem

}

@media (max-width: 756px) {
  .link-content { /* Class for container element */
    display: flex;
    flex-direction: column; 
    width:100% ;
    margin: 0;
  }.container{
    margin:0
  }
}




.content {
  flex: 1;
  margin: 5rem 10rem;
}

.links {
  flex: 0 0 20%;
  max-width: 20%;
}

.roleBanner {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.roleTitle {
  font-size: 2em;
  margin-bottom: 10px;
}

.roleSubtitle {
  font-size: 1.5em;
}


.responsibilities {
  background-color: linear-gradient(to right, #0044b3, #0066ff);
  /* color: #fff; */
  color: black;
  border-radius: 0.6rem;
}
.background{
  background-color:'1DA8FF !important'
}
